
main {
	margin-top:20px;
}

.sec_title {
	text-align:center;
	display:inline-block;
	color:pink;
	font-size:3em;
	font-weight:bold;
	background-color:purple;
	margin:20px auto 0;
	border-radius:.7em;
	padding:.2em .5em;
	letter-spacing:1px;
}

.sec_title_holder {
	display:flex;
	justify-content:center;
}

.title_description {
	font-size:1em;
	border-bottom: 1px solid grey;
	padding-bottom:1em;
	padding-top:1em;
	text-align:center;
}

.section {
	width:65%;
	margin:0 auto;
	border:3px solid grey;
	margin-bottom:120px;
	border-radius:15px;
	box-shadow:10px 10px 5px grey;
	background-color:#151215;
}

.section:last-child{
	margin-bottom:40px;
}

.sec_list {
	display:flex;
	justify-content:space-between;
}

ol { 
	width:100%;
	color:white;
	list-style-type:decimal;
}

ol li {
	margin:20px 40px;
	font-size:2em;

}

.entry {
	display:flex;
	justify-content:space-between;
	font-size:1em;
}

.left {
	max-width:70%;
	font-weight:bold;
	text-shadow:0 1px purple;
}

.right {
	max-width:30%;
	display:flex;
	align-items:center;
}

.left, .right {
	word-wrap:normal;
	display:flex;
	align-items:center;
}

a {
	text-decoration:none;
	color:white;
}

a:hover {
	cursor:pointer;
	color:lightblue;
}

@media only screen and (max-width:680px), (max-device-width:680px){
	html {
		font-size:24px;
	}
	header {
		font-size:6em;
	}
	.section {
		min-width:100%;
		max-width:100%;
		border:none;
		margin:none;
		box-shadow:none;
		font-size:2em;
		margin:0 0 !important;
	}
	a {
		text-decoration:underline;
	}	
	.sec_title {
		margin:0 0 !important;
	}
	.section_title_holder {
		margin-top:0;
		padding:0 0;
	}
	.sec_title {
		width:100%;
		margin-top:0;
		margin-left:0;
		margin-right:0;
		padding-left:0;
		padding-right:0;
		border-radius:5px;
		padding:0 0;
		font-size:4em;
		border-top:0;
		box-shadow:0 0 20px magenta;
	}
	ol {
		margin-left:15px;
	}
	ol li {
		font-size:1.5em;
		margin-bottom:40px;
		margin-top:40px;
	}
	.title_description {
		border-bottom:none;
	}
}






